.sidebar {
  border-right: 1px solid #cce9e1;
  width: 220px;
  flex-shrink: 0;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: #285c53;
  font-size: 20px;
  margin-bottom: 30px;
}

.plant {
  width: 130px;
  height: auto;
  margin-top: auto;
  align-self: center;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #cce9e1;
  }

  .sidebar h2 {
    margin-bottom: 15px;
  }

  .plant {
    display: none;
  }
}
