.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter label {
  color: #46776d;
  font-size: 14px;
  font-weight: 500;
  
}

.filter select {
  color: #285c53;
  background-color: #ffffff;
  width: 100%;
  padding: 12px 38px 12px 15px;
  border: 1px solid #cce9e1;
  border-radius: 30px;

  cursor: pointer;
  outline: none;

  appearance: none;

  background-image: url('/arrow.svg');  
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 40px;
}

.filter select:focus {
  border-color: #00bb85;
}