.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter label {
  font-size: 14px;
  font-weight: 500;
  color: #46776d;
}

.filter select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #cce9e1;
  border-radius: 20px;
  background-color: #ffffff;
  color: #285c53;
  cursor: pointer;
  outline: none;
}

.filter select:focus {
  border-color: #00bb85;
}