.taskList {
  margin-top: 30px;
}

.taskList h2 {
  color: #285c53;
  font-size: 18px;
  margin-bottom: 15px;
}

.taskList p {
  color: #46776d;
  font-size: 14px;
}
.taskList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskList li {
  color: #285c53;
  background-color: #ffffff;
  border: 1px solid #cce9e1;
  border-radius: 20px;
  padding: 15px 20px;
  
}
.taskItem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.taskItem input {
  accent-color: #00bb85;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #8ca9a1;
}